@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    background-color: white;
    font-family: 'Nanum Myeongjo', serif;
    overflow: hidden;
    scroll-behavior: smooth;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited{
    color: black;
    text-decoration: none;
}

h1 {
    color: black;
    transition: color 0.5s ease-in-out;
}

div {
    text-align: center;
}

.background{
    height: 100%;
    width: 100%;
    background-color: black;
    position: absolute;
    top:0;
    z-index: 1;
}

.container1 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    z-index: 2;
    color:white;
}

#main{
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#downArrow{
    height: 15%;
    width: 100%;
}

#downArrow:hover{
    cursor:pointer;
}

#upArrow{
    position: absolute;
    top:100%;
    height: 15%;
    padding-top: 20px;
    width: 100%;
    color:black;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 10px;
}

#upArrow:hover{
    cursor:pointer;
}

.topBar {
    height: 50px;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    font-size: 12px;
    font-family: 'Nanum Myeongjo', serif;
    color: white;
}

 button{
    border-width: 0;
    background-color: transparent;
}

.topBar div {
    margin-right: 0px;
}

.topBar div span {
    margin-left: 10px;
}

.topBar a {
    height: 100%;
    width: auto;
    margin-left: 15px;
    color: white;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 40
}

#clock {
    font-size: 200px;
    font-family: 'Bebas Neue', cursive;
    color: white;
}

#clock+div {
    margin-top: 20px;
}

#quote {
    font-size: 22px;
    font-family: 'Nanum Myeongjo', serif;
    padding-left: 30px;
    padding-right: 30px;

}

.searchSection {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clicked {
    color: tomato;
}

.hidden {
    display: none;
}

.container2 {
    height: 100%;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container2 .link{
    font-size: 24px;
    margin-bottom: 20px;
}

.nightVision{
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 0;
    background-image: url('../img/1.jpeg');
    background-size: cover;
}
